In [7]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os

getting list of companies

In [8]:
balance_df = pd.read_csv("../RawData/balance_sheet_with_headers.csv")
list_of_customers = list(balance_df['customer_id'].unique())

In [10]:
print(len(list_of_customers))

3061

In [11]:
def getp2(cid, df, label):
    p2 = pd.DataFrame()

    p2['date'] = df['date']
    p2['current_ratio'] = df['current_assets'] / df['current_liabilities']
    p2['debt_equity_ratio'] = (df['current_liabilities'] + df['non_current_liabilities']) / (df['equity'])
    p2['acid_ratio'] = df['qr_top'] / df['current_liabilities']
    p2['net_profit_margin'] = (df['net_income'] / df['sales']) * 100
    p2['return_on_equity'] = df['net_income'] / df['equity'] 
    p2['debt_asset_ratio'] = (df['current_liabilities'] + df['non_current_liabilities']) / (df['current_assets'] + df['non_current_assets'])
    p2['gross_profit_margin'] = (df['sales'] - df['expenses']) / (df['sales'])
    p2.replace([np.inf, -np.inf], np.nan, inplace=True)
    p2 = p2.fillna(0)
    
    p2.to_csv("../Features/" + str(cid) + "/priority2_" + label + ".csv")

In [14]:
bad_companies = [5612, 9, 258, 4180, 768, 6093, 3507, 5986, 437, 7738, 6027, 6013, 4669, 6239, 4067, 5121, 4168, 5985, 5832, 523, 7663, 5573, 4036, 41, 6366, 27, 5842, 6238, 5431, 7769, 4851, 6376, 7946, 438, 6553, 6460, 6579, 6580, 6606, 3709, 6633, 5489, 7451, 7808, 6687, 3638, 6484, 6288, 6750, 4256, 6746, 6753, 7817, 7914, 175, 6875, 6891, 5580, 8016, 5142, 6932, 6853, 6992, 6989, 6996, 5178, 7872, 6660, 7045, 7035, 7135, 7143, 7148, 7196, 7829, 7133, 7207, 7899, 7241, 4116, 511, 7912, 7227, 7321, 7918, 7327, 4861, 7374, 7430, 8017, 7503, 7444, 7408, 7469, 7262, 5747, 6736, 8004, 7674, 7717, 5136, 16, 3595, 5630, 49, 3825, 3855, 5658, 3731, 3449, 3998, 3991, 4038, 3965, 64, 4217, 88, 3936, 4434, 4547, 4546, 4442, 5645, 3547, 5687, 4696, 4447, 4819, 4732, 4726, 4670, 5726, 5014, 4780, 5065, 5207, 5289, 5333, 5817, 5830, 805, 909, 784, 920, 746, 3354, 28, 688, 698, 69, 676, 674, 643, 5455, 5416, 633, 625, 619, 600, 5782, 5474, 5525, 79, 156, 154, 162, 183, 204, 255, 239, 356, 5544, 560, 5357, 181, 3619, 5617, 6126, 5907, 5870, 5955, 6069, 6095, 6061, 6176, 8058, 8082, 7492, 8162, 8189, 8190, 8211, 9356, 9289, 9333, 9427, 8070, 9450, 9460, 9476, 7014, 9507, 8269, 9555, 9617, 9628, 9647, 9650, 9704, 9631, 9776]

In [15]:
for c in tqdm(range(len(list_of_customers))):
    cid = list_of_customers[c]
    if cid not in bad_companies:
        monthdf = pd.read_csv("../Features/" + str(cid) +"/priority1_month.csv")
        monthdf.drop('Unnamed: 0', axis=1, inplace=True)
        
        getp2(cid, monthdf, 'month')
        
        yeardf = pd.read_csv("../Features/" + str(cid) +"/priority1_year.csv")
        yeardf.drop('Unnamed: 0', axis=1, inplace=True)
        
        getp2(cid, yeardf, 'year')

100%|██████████| 3061/3061 [00:54<00:00, 56.46it/s]

In [8]:
monthdf = pd.read_csv("../Features/" + str(4436) +"/priority1_month.csv")
monthdf.drop('Unnamed: 0', axis=1, inplace=True)

getp2(4436, monthdf, 'month')

# yeardf = pd.read_csv("../Features/" + str(4436) +"/priority1_year.csv")
# yeardf.drop('Unnamed: 0', axis=1, inplace=True)

In [131]:
p2m

,date,current_ratio,debt_equity_ratio,acid_ratio,net_profit_margin,return_on_equity,debt_asset_ratio,gross_profit_margin
0,2012-09-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2012-10-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2012-11-30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2012-12-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2013-01-31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...
110,2021-02-28,0.944756,-7.314840,0.818218,145.328654,-1.458259,1.213115,-1.408868
111,2021-03-31,0.781696,-3.505964,0.478314,48.337735,-0.210722,1.482075,-0.528909
112,2021-04-30,0.682183,-2.663348,0.453851,-11.988907,0.086827,1.710055,-0.508943
113,2021-06-30,0.590121,-2.178457,0.426263,-22.275877,0.200233,2.006459,0.015878
114,2021-07-31,0.585377,-2.205816,0.345969,-83.277037,0.334831,1.954319,-0.047358

In [132]:
p2y

,date,current_ratio,debt_equity_ratio,acid_ratio,net_profit_margin,return_on_equity,debt_asset_ratio,gross_profit_margin
0,2012,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2013,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2014,0.000000,0.000000,0.000000,106.416813,1.000000,0.000000,1.000000
3,2015,0.294107,-1.128035,0.105472,-34.016982,0.036829,14.070895,0.193394
4,2016,0.743492,-1.329560,0.347589,95.527727,-0.373424,4.561732,0.279759
5,2017,1.314092,-4.545570,0.842671,2.152095,-0.054269,1.385396,0.046337
6,2018,0.777004,-2.977740,0.516489,-103.131977,1.177157,1.619377,-0.065566
7,2019,0.689184,-2.641745,0.591542,-74.123970,0.504699,1.709802,0.027056
8,2020,0.504325,-1.877920,0.381395,-91.830961,0.316520,2.287873,0.097584
9,2021,0.840670,-4.369948,0.631227,33.473854,-0.458120,1.365235,0.158514